:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
  --font-family: "Source Sans Pro", system-ui;
  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
  --card-color: rgb(255, 255, 255, 0.5);
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--dark-color);
  background: var(--bg-gradient);
  overflow-x: hidden;
}
.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-image {
  justify-self: center;
  width: 90vw;
  max-width: 1140px;
  margin: 2rem;
  margin-bottom: 0px;
  animation: 1s ease-out 0s 1 slideIn;
}
.hero-image + main {
  margin-top: -5px;
}
main {
  justify-self: center;
  width: 90vw;
  max-width: 1140px;
  margin: 2rem;
  padding: 6rem 6rem;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  flex-direction: column;
  animation: 1s ease-out 0s 1 slideIn;
}

.hero-image > img {
  width: 100%;
}
@media (max-width: 960px) {
  main {
    padding: 4rem 4rem;
    margin: 1rem;
  }
}

article {
  line-height: 1.5rem;
  text-align: justify;
 
}

article > div {
  word-break: break-word;
  max-width: 100%;
}

h2 {
 font-size: 1.5rem;
 margin-top: 2rem;
 margin-bottom: 1rem;
 line-height: 2rem;
}

@media (max-width: 960px) {
  main {
    padding: 4rem 4rem;
    margin: 1rem;
  }
}

blockquote::before {
  content: "“";
  float: left;
  font-size: 3rem;
}
blockquote {
  margin: 1rem;
  font-weight: bold;
}
blockquote > p {
  padding-left: 2rem;
}

pre {
  word-break: break-all;
  white-space: break-spaces;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  background-image: linear-gradient(
    90deg,
    var(--base) 0%,
    var(--complimentary2)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
}

.article-date {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.image-container {
  text-align: center;
  max-width: 100%;
}

p:has(img) {
  text-align: center;
  max-width: 100%;
}

p:has(img) > img {
  border: 2px solid rgba(255, 255, 255, 0.75);
  margin: 1rem 0rem;
  max-width: 100%;
}

.poster-image {
  float: left;
}

.poster-image > img {
  height: 300px;
  margin: 0rem 1rem;
}

article > div > ul,ol {
  margin-left: 1rem;
}


.gist { width:800px !important;}
.gist-file
.gist-data {max-height: 800px;max-width: 800px;}

.top-nav {
  background-color: #ffffff66;
  color: #0a0a0a;
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  height: 70px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.top-nav > .inner {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 1140px) {
  .top-nav > .inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.logo > img {
  width: 48px;
  height: 48px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #fafafa;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #222;
    background-color: #ffffff;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #fafafa;
  }
}

.card-container {
  height: 100%;
  display: flex;
  justify-content: center;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  
  max-width: 1140px;
  width: 100%;
  justify-content: center;
}

#cards:hover > .card::after {
  opacity: 1;
}

#cards > .card {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 400px;
  flex-direction: column;
  position: relative;
  width: 366px;  
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  transition: all .25s cubic-bezier(.02,.01,.47,1);
  animation: 1s ease-out 0s 1 slideIn;
}

#cards > .card:hover {
  box-shadow: 0 1.75rem 4rem 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

#cards > .card:hover::before {
  opacity: 1;
}

#cards > .card::before,
#cards > .card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

#cards > .card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    hsl(var(--hue-complimentary2), 95%, 99%),
    transparent 80%
  );
  z-index: 3;
}


#cards > .card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y) , 
    hsl(var(--hue-complimentary2), 95%, 99%),
    transparent 40%
  );
  z-index: 1;
}

#cards > .card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 1.5rem;
  position: absolute;
  z-index: 2;
  justify-content: space-between;
}

.card-title {
  font-size: 2rem;
}
.card-title > time {
  font-size: 0.5rem;
}
.card-image {
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -1.5rem;
}
.page-navigation {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1rem;
  align-items: center;
}

.page-navigation > .nav-button {
  background: rgba(255, 255, 255, 0.375);
  text-decoration: none;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #333;
  transition: all .25s cubic-bezier(.02,.01,.47,1);
  animation: 1s ease-out 0s 1 slideIn;
}

.page-navigation > .nav-button:hover {
  box-shadow: 0 1.75rem 4rem 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  
}