:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
  --font-family: "Source Sans Pro", system-ui;
  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 1fr 80px;
  font-family: var(--font-family);
  color: var(--dark-color);
  background: var(--bg-gradient);
  overflow-x: hidden;
}
.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
header {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-image {
  justify-self: center;
  width: 90vw;
  max-width: 1140px;
  margin: 2rem;
  margin-bottom: 0px;
}
.hero-image + main {
  margin-top: -5px;
}
main {
  justify-self: center;
  width: 90vw;
  max-width: 1140px;
  margin: 2rem;
  padding: 6rem 6rem;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  flex-direction: column;
}

.hero-image > img {
  width: 100%;
}
@media (max-width: 960px) {
  main {
    padding: 4rem 4rem;
    margin: 1rem;
  }
}

article {
  line-height: 1.5rem;
  text-align: justify;
 
}

article > div {
  word-break: break-word;
  max-width: 100%;
}

h2 {
 font-size: 1.5rem;
 margin-top: 2rem;
 margin-bottom: 1rem;
 line-height: 2rem;
}

@media (max-width: 960px) {
  main {
    padding: 4rem 4rem;
    margin: 1rem;
  }
}

blockquote::before {
  content: "“";
  float: left;
  font-size: 3rem;
}
blockquote {
  margin: 1rem;
  font-weight: bold;
}
blockquote > p {
  padding-left: 2rem;
}

pre {
  word-break: break-all;
  white-space: break-spaces;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  background-image: linear-gradient(
    90deg,
    var(--base) 0%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
}

.article-date {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.image-container {
  text-align: center;
  max-width: 100%;
}

p:has(img) {
  text-align: center;
}

p:has(img) > img {
  border: 2px solid rgba(255, 255, 255, 0.75);
  margin: 1rem 0rem;
}

.poster-image {
  float: left;
}

.poster-image > img {
  height: 300px;
  margin: 0rem 1rem;
}


.gist { width:800px !important;}
.gist-file
.gist-data {max-height: 800px;max-width: 800px;}

.top-nav {

  background-color: #ffffff66;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #0a0a0a;
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  height: 70px;
}

.top-nav > .inner {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 1140px) {
  .top-nav > .inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.logo > img {
  width: 48px;
  height: 48px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #fafafa;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #222;
    background-color: #ffffff;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #fafafa;
  }
}

/*
.poster-image {
  padding: 1rem;
  float: left;
}
.hero-image {
  width: 100%;
  max-width: 1140px;
}

article img {
  max-width: 100%;
}
*/