---
const today = new Date();
---

<footer>
  Naresh Jois. &copy; {today.getFullYear()} • All rights reserved
  <br/>
  Built using <a href="https://astro.build/">Astro</a>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
<script>
  import { Init } from "../scripts/orbs";
  Init();
</script>
<script is:inline defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d912492132be4cef8c07f674418894b6"}'></script>