---
const today = new Date();
---

<footer>
  Naresh Jois. &copy; {today.getFullYear()} • All rights reserved
  <br/>
  Built using <a href="https://astro.build/">Astro</a>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
<script>
  import { Init } from "../scripts/orbs";
  Init();
</script>