---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Naresh.Jois. | All rights reserved | Built using <a href="https://astro.build/">Astro</a>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
<script>
  import { ColorPalette } from "../scripts/color-palette";
  const palette = new ColorPalette();
  palette.setCustomProperties();
</script>
