---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import Icon from "./icon.astro";
---

<header class="top-nav">
  <div class="inner">
    <div class="logo">
      <a href="/" class="logo">
        <img src="/logo.svg" alt={SITE_TITLE} />
      </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu">
      <li><HeaderLink href="/blog/pages/1">Blogs</HeaderLink></li>
      <li><HeaderLink href="/about">About</HeaderLink></li>
      <li>
        <HeaderLink href="https://twitter.com/nareshjois" target="_blank">
          <Icon icon="twitter" size="18"/>
        </HeaderLink>
      </li>
    </ul>
  </div>
</header>
<style>
  .logo {
    text-decoration: none;
  }
</style>
